.day-cell {
    border: transparent;
    background-color: var(--calendar-active);
    padding: 10px;
    padding-top: 0;
    text-align: left;
    height: 20vh;
    overflow-y: hidden;
}

.day-cell.disabled {
    background-color: var(--calendar-inactive);
}

.day-cell h5 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 9pt;
    width: 100%;
    font-family: var(--font-main);
    background-color: inherit;
    position: sticky;
    top: 0;
}

.day-cell::-webkit-scrollbar {
    display: none;
}

.day-cell:hover {
    overflow-y: auto;
}

.today span {
    background-color: #00c9b7;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
}



.calendar-task {
    background-color: #009696;
    font-size: small;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    overflow-x: hidden;
}

.calendar-template {
    background-color: #328c66;
    font-size: small;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    overflow-x: hidden;
}

.done {
    text-decoration: line-through;
    color: #ffffff80;
}