#my-day{
    text-align: left;
}

#my-day h2, #my-day h3{
    margin: 10px 15px 0;
}


.task-item {
    background-color: #009696;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    font-size: small;
    display: flex;
    position: relative;
}

.task-item img {
    max-width: 10px;
    max-height: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.task-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1.5px solid #eee;
    background-color: #009696;
    transition: background-color 0.3s ease;
}

.checkbox-label:hover .checkmark {
    background-color: #1e523c;
}

.task-item input:checked~.checkbox-label .checkmark {
    background-color: #009696;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.task-item input:checked~.checkbox-label .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 3.5px;
    top: 1px;   
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.task-item input:checked~.checkbox-label p {
    text-decoration: line-through;
    opacity: 0.8;
}

.template-item-head {
    width: 91%;
    margin-top: 1em;
    height: 2.5em;
    margin-left: 15px;
    background-color: #328c66;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    padding: 0;
}

.template-item-head h4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.template-item-body {
    background-color: #1e523c;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 8px;
    max-height: 1000px;
    width: 91%;
}

.template-task-item {
    background-color: #009696;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    height: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    font-size: small;
}

.saved-template-task img {
    max-width: 10px;
    max-height: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}